---
- name: Create authority.json content
  ansible.builtin.set_fact:
    _ocp4_workload_ibm_fusion_authority_content:
      cp.icr.io:
        auth: "{{ ('cp:' + ocp4_workload_ibm_fusion_entitlement_key) | b64encode }}"

- name: Retrieve existing pull secret
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Secret
    name: pull-secret
    namespace: openshift-config
  register: r_pull_secret

- name: Decode existing .dockerconfigjson
  ansible.builtin.set_fact:
    _ocp4_workload_ibm_fusion_decoded_dockerconfigjson: >-
      {{ r_pull_secret.resources[0].data[".dockerconfigjson"] | b64decode | from_json }}

- name: Merge new credentials into .dockerconfigjson
  ansible.builtin.set_fact:
    _ocp4_workload_ibm_fusion_merged_dockerconfigjson: >-
      {{ _ocp4_workload_ibm_fusion_decoded_dockerconfigjson | combine({"auths": _ocp4_workload_ibm_fusion_authority_content}, recursive=True) }}

- name: Update pull secret with merged .dockerconfigjson
  kubernetes.core.k8s:
    api_version: v1
    kind: Secret
    name: pull-secret
    namespace: openshift-config
    state: present
    definition:
      data:
        ".dockerconfigjson": "{{ _ocp4_workload_ibm_fusion_merged_dockerconfigjson | to_json | b64encode }}"
