---
- name: Define label_selector list
  ansible.builtin.set_fact:
    _ocp4_workload_ibm_fusion_label_selector_list:
    - node-role.kubernetes.io/worker
    - "!node-role.kubernetes.io/infra"

- name: Discovering worker nodes
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Node
    label_selectors: "{{ _ocp4_workload_ibm_fusion_label_selector_list }}"
  register: r_worker_nodes

- name: Fail for less than 3 worker nodes
  ansible.builtin.assert:
    that: r_worker_nodes.resources | length > 2
    success_msg: "Found at least 3 worker nodes. Continuing."
    fail_msg: "Less than 3 worker nodes detected. Cannot install Ceph."

- name: Set variables
  ansible.builtin.set_fact:
    _ocp4_workload_ibm_fusion_worker_nodes: "{{ r_worker_nodes | json_query('resources[*].metadata.name') }}"

- name: Adding openshift-storage label to worker nodes
  kubernetes.core.k8s:
    state: patched
    api_version: v1
    kind: Node
    name: "{{ worker_node }}"
    definition:
      apiVersion: v1
      kind: Node
      name: "{{ worker_node }}"
      metadata:
        labels:
          cluster.ocs.openshift.io/openshift-storage: ''
  loop: "{{ _ocp4_workload_ibm_fusion_worker_nodes }}"
  loop_control:
    loop_var: worker_node
    label: "{{ worker_node }}"
