---
- name: Create IBM pull secret
  ansible.builtin.include_tasks: create_pull_secret.yml

- name: Prepare worker nodes
  ansible.builtin.include_tasks: prepare_worker_nodes.yml

- name: Install IBM Storage Fusion operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_action: install
    install_operator_name: isf-operator
    install_operator_namespace: ibm-spectrum-fusion-ns
    install_operator_manage_namespaces:
    - ibm-spectrum-fusion-ns
    install_operator_channel: "{{ ocp4_workload_ibm_fusion_channel }}"
    install_operator_catalog: ibm-operator-catalog
    install_operator_automatic_install_plan_approval: "{{ ocp4_workload_ibm_fusion_installplan_approval | bool }}"
    install_operator_starting_csv: "{{ ocp4_workload_ibm_fusion_starting_csv }}"
    install_operator_catalogsource_setup: true
    install_operator_catalogsource_name: ibm-operator-catalog
    install_operator_catalogsource_namespace: openshift-marketplace
    install_operator_catalogsource_image: icr.io/cpopen/ibm-operator-catalog
    install_operator_catalogsource_image_tag: "{{ ocp4_workload_ibm_fusion_catalog_source_tag }}"

- name: Deploy SpectrumFusion (and accept the license)
  kubernetes.core.k8s:
    state: present
    template: spectrumfusion.yml.j2
  register: r_spectrumfusion
  retries: 100
  delay: 10
  until: r_spectrumfusion is success

# This takes about 20 minutes to fully deploy (with GlobalDataPlatform enabled)
- name: Wait for SpectrumFusion to be fully deployed
  kubernetes.core.k8s_info:
    api_version: prereq.isf.ibm.com/v1
    kind: SpectrumFusion
    name: spectrumfusion
    namespace: ibm-spectrum-fusion-ns
  register: r_spectrumfusion
  until:
  - r_spectrumfusion.resources is defined
  - r_spectrumfusion.resources | length > 0
  - r_spectrumfusion.resources[0].status is defined
  - r_spectrumfusion.resources[0].status.status is defined
  - r_spectrumfusion.resources[0].status.status == "Completed"
  retries: 300
  delay: 10

- name: Deploy FusionServiceInstance odf-manager
  ansible.builtin.include_tasks: deploy_odf_manager.yml

- name: Deploy FusionServiceInstance data cataloging
  when: ocp4_workload_ibm_fusion_deploy_data_cataloging | bool
  ansible.builtin.include_tasks: deploy_data_cataloging.yml

- name: Deploy FusionServiceInstance backup/restore
  when: ocp4_workload_ibm_fusion_deploy_backup_restore | bool
  ansible.builtin.include_tasks: deploy_backup_restore.yml

- name: Deploy FusionServiceInstance content aware storage
  when: ocp4_workload_ibm_fusion_deploy_content_aware_storage | bool
  ansible.builtin.include_tasks: deploy_cas.yml
